{{#if showForm}}
  <form onsubmit={{action "save"}}>
    {{input class="form-control" placeholder="New Card Title" value=title autofocus=true}}

    <button class="btn fullwidth btn-hidden">Submit</button>
  </form>
{{else}}
  <button class="btn btn-text" type="button" onclick={{action "toggleForm"}}>
    <span class="fa fa-plus"></span>
    Add new card...
  </button>
{{/if}}
