<h2>Add List</h2>

<form onsubmit={{action "save"}}>
  {{input placeholder="List Name" class="form-control" value=list}}
  {{input placeholder="Card Title" class="form-control" value=title}}

  <button class="fullwidth btn btn-save" type="submit">Save</button>
</form>
