<div class="modal">
  <div class="modal-card">
    <h3>Edit</h3>

    {{edit-card-form title=(readonly model.title) list=(readonly model.list) onsubmit=(action "updateCard")}}

    <div class="modal-card-footer">
      <button type="button" class="btn btn-delete" onclick={{action "deleteCard"}}>Delete card</button>
    </div>
  </div>
</div>
